# This environment file is only necessary for building the postgres database via docker
# The user and database specified here will be generated with the docker image of postgresql

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=databasename
